/* General Page Styling */
body {
    background-color: #0f0f0f;
    color: #fff;
    font-family: 'Jacquard 12', sans-serif;
    margin: 0;
    padding: 0;
}

/* Banner Section */
.banner-section {
    position: relative;
    text-align: center;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.profile-picture {
    position: absolute;
    bottom: -80px;
    left: 10%; 
    width: 15vw; 
    height: 15vw;
    border-radius: 50%;
}

/* About Me Content */
.about-me-content {
    margin-top: 25px;
    padding: 20px;
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.about-me-content h1 {
    font-size: 10vw;
    margin-bottom: 10px;
}

.about-me-content h2 {
    font-size: 5vw;
    margin-top: 20px;
}

.about-me-content p {
    font-family: 'Jacquarda Bastarda 9', sans-serif;
    font-size: 1.6vw;
    line-height: 1.6;
    margin: 10px 0;
    color: skyblue;
}

.about-me-content strong {
    color: skyblue;
}
.about-me-content a {
    color: skyblue;
}

.about-me-content ul {
    font-family: 'Jacquarda Bastarda 9', sans-serif;
    color: skyblue;
    list-style-type: disc;
    padding: 0;
}

.about-me-content ul li {
    font-size: 2VW;
    margin: 5px 0;
}

/* Two-column layout for Location/Contact and Education/Skills */
.info-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.info-box {
    width: 40%;
    text-align: left;
}

.info-box h2 {
    text-align: center;
}

/* Center Work Section */
.work-container {
    text-align: center;
    margin: 30px 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .profile-picture {
        bottom: -50px;
    }

    .about-me-content {
        margin-top: 45px;
    }

    .info-box {
        width: 100%;
        text-align: center;
    }

    .about-me-content h1 {
        font-size: 12vw;
    }

    .about-me-content h2 {
        font-size: 8vw;
    }

    .about-me-content p {
        font-size: 3vw;
    }

    .about-me-content ul li {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .profile-picture {
        width: 100px;
        height: 100px;
        bottom: -45px;
    }

    .about-me-content {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .info-box {
        width: 100%;
        text-align: center;
    }

    .about-me-content h2 {
        font-size: 8vw;
    }

    .about-me-content p {
        font-size: 3.5vw;
    }

    .about-me-content ul li {
        font-size: 3.5vw;
    }
}
