body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cover Flow Container */
.coverflow-container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
}

/* Swiper Container */
.swiper-container {
    width: 100%;
    height: 300px;
}

/* Swiper Slides */
.swiper-slide img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.swiper-slide img:hover {
    transform: scale(1.1);
}

/* Center the entire gallery container */
.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75%;
    margin: 100px auto;  
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
    gap: 20px;
    justify-items: center; 
    align-items: center; 
    width: 100%;
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain; 
    border-radius: 10px; 
    transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.25);
}

/* Lightbox Styles */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Ensure the image is centered */
.lightbox img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
}

/* Lightbox filename caption */
.lightbox-caption {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: "Jacquard 12", sans-serif;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px; 
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.hidden {
    display: none;
}
