/* General Page Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
}

/* Welcome Section */
.welcome {
    padding: 50px 20px;
    font-size: 3rem;
}

/* Apply Jacquard 12 font */
.welcome h1, .quote {
    font-family: "Jacquard 12", sans-serif;
}

.welcome p {
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 1.5rem;
}

/* Swiper Carousel */
.swiper-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* Banner (full image size) */
.banner {
    width: 100%;
    height: 600px;
    background-size: cover !important; /* Maintain aspect ratio */
    background-position: center;
    background-repeat: no-repeat !important;
}

/* Quote positioned below each banner */
.quote {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: "Jacquard 12", sans-serif;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}

/* Navigation Buttons */
.swiper-button-next, .swiper-button-prev {
    color: white !important;
}

/* Pagination Dots */
.swiper-pagination-bullet {
    background: none !important;
}

/* Left-Aligned Section Below the Banners */
.custom-section, .custom-section p {
    width: 100%;
    max-width: 1400px;
    margin: 40px auto;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
}

.custom-section h2, .featured-projects h2, p {
    font-size: 4rem;
    font-family: "Jacquard 12", sans-serif;
    color: white;
}

.custom-section p {
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 2rem;
    color: white;
    max-width: 1200px;
    text-align: center;
}

/* Lightbox Styles */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.hidden {
    display: none;
}

.featured-projects {
    width: 90%;
    max-width: 1400px;
    margin: 30px auto;
    color: white;
}

.featured-projects h2 {
    font-size: 4rem;
    font-family: "Jacquard 12", sans-serif;
    margin: 40px 0;
    color: white;
    text-align: left;
}

.featured-projects p {
    font-size: 2rem;
    color: white;
    text-align: left;
    font-family: "Jacquarda Bastarda 9", serif;
}

.featured-projects a {
    color: grey;
    text-decoration: none;
}

.featured-projects a:hover {
    color: #FFD700; 
    text-decoration: underline;
}
