body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
}

/* Title Styling */
.projects-title {
    text-align: center;
    font-size: 5rem;
    margin-top: 20px;
    font-family: "Jacquard 12", sans-serif;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
}

/* Projects Grid */
.projects-container {
    width: 85%;
    max-width: 1200px; 
    margin: 0 auto;  
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center; 
    align-items: center; 
}

.project-item {
    background-color: grey;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-item h3 {
    font-family: "Jacquard 12", sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Popup Styling */
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.popup-content {
    background: grey;
    padding: 40px;
    width: 70%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 10px;
    position: relative; 
}

/* Popup Fonts */
.popup-title {
    font-family: "Jacquard 12", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.popup-year, .popup-note {
    font-family: "Jacquarda Bastarda 9", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}

#popup-description {
    font-family: "Jacquarda Bastarda 9", sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    line-height: 1.5;
}

#popup-description p {
    margin-top: 20px; 
}

.popup-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center; 
    align-items: center;
}

.popup-content::-webkit-scrollbar {
    width: 10px;
}

.popup-content::-webkit-scrollbar-track {
    background: #222; 
    border-radius: 10px;
}

.popup-content::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
}

.popup-content::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

.close-popup {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 1100;
}

.popup-grid img {
    width: 90%;
    height: auto;
    border-radius: 5px;
}
